body{

    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    
}


.container{

    display: flex;
    flex-direction: column;
}

.middle-low{
    font-family: monospace;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.middle-low-middle{
    padding: 200px;
}
.quote{

    font-size: 24px;
    font-weight: 10;
    font-style: italic;
    word-wrap: break-word;
    color: #1F2937;
    text-align: left;
}

.quote-name{

    font-size: small;
    font-weight: 700;
    margin-left: 36px;
    text-align: right;
}

.header  {
    
    font-family: monospace;
    background: #1F2937;
    color: white;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    
    
    
  }


  h1{
      font-size: 48px;
      font-weight: 900;

  }

  h2{
      font-size: 18px;
  }
  .mid-header{
    text-align: left;
  }


  .middle{
      align-items: center;
  }
.call2action{

    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}


  .topsignup{
    width: 100px;
    height: 20px;
    background-color: #3882f6;
    color: #FFFFFF;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
  }


.top{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
  
ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
  }

.logo{
    font-weight: 700;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}
.mid-header{
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  