.header  {
    
    font-family: monospace;
    background: rgb(5, 5, 15);
    color: white;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    
    
  }

.top{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
  
ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
  }

.logo{
    font-weight: 700;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}
.mid-header{
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  